.up-btn {
  @include btnSizes();
  padding: 9px 30px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  border: none;

  &--primary {
    background: $gradientOrangeEffect;
    color: $white;
    background-size: 200% auto;
    &:hover {
      background-position: right center;
      transition: $transition;
    }
  }
  &--secondary {
    background-color: $yellow;
    color: $white;

    &:hover {
      background-color: $orange;
      transition: $transition;
    }
  }
}