.up-carousel {
  padding: 40px 60px;
  background-size: contain !important;
  background-position: right !important;
  background-repeat: no-repeat !important;

  &:nth-child(odd) {
    background: url(../assets/image1.png);
    background-color: #011323;
    color: #d9d9d9;
  }

  &:nth-child(even) {
    background: url(../assets/image2.png);
    background-color: #d9d9d9;
    color: $black;
  }

  &_header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img { 
      width: 150px;
    }

    &--pipe {
      display: block;
      width: 2px;
      height: 30px;
      background-color: #666;
      margin: 0 20px;
    }

    &--title {
      margin-top: 5px;
      font-size: 26px;
    }
  }

  &_body {
    margin-bottom: 30px;
    max-width: 570px;

    &--description {
      font-size: 18px;
    }
  }

  &_footer {
    display: flex;
    align-items: center;

    &--price {
      font-size: $fontSmall;
      align-self: flex-end;
      margin-right: 5px;
      margin-bottom: 6px;
    }
    &--value {
      font-size: 38px;
      margin-right: 35px; 
    }
    &--know-more {
      text-decoration: none;
    }
  }
}

.owl-item {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  &:nth-child(odd) {
    background: url(../assets/image1.png);
  }

  &:nth-child(even) {
    background: url(../assets/image2.png);
  }
}

