.up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 12px;

  + * {
    margin-top: 75px;
  }

  &_navbar ul {
    display: flex;
    list-style: none;

    li {
      a {
        font-size: $fontBig;
        font-weight: 700;
        text-decoration: none;
        color: $black;
        
        &:hover,
        &.router-link-exact-active {
          color: $orange;
          transition: $transition;
        }
      }

      &:not(:last-child){
        margin-right: 15px;
      }
    }
  }
}