.up-order {
  display: flex;
  align-items: center;
  margin: 0 15px 40px;

  &_label {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 30px;
  }

  &_select {
    width: 210px;
  }
}