.up-select {
  display: flex;
  align-items: center;
  margin: 0 15px 40px;

  &_label {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &_options {
    width: 180px;

    .vs__actions {
      cursor: pointer;
    }

    .vs__dropdown-option--highlight {
      background-color: $orange;
    }
  }
}