// Open Sans //
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

$defaultFont: 'Roboto', sans-serif;

$fontSmall: 12px;
$font: 14px;
$fontBig: 16px;

$fontIconSmall: 16px;
$fontIcon: 22px;
$fontIconBig: 34px;